<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>reinhardluvr69</title>
    <link rel="icon" href="/assets/ushi.jpg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link href="/assets/index.css" rel="stylesheet">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@reinhardluvr69">
    <meta name="twitter:creator" content="@reinhardluvr69">
    <meta name="og:url" content="https://www.reinhardluvr69.com/">
    <meta name="og:title" content="reinhardluvr69 | Home">
    <meta name="og:description" content="I have no idea! Anyway... Hi! We blogging with more power now! Also check out my games!">
    <meta property="og:image" content="https://www.reinhardluvr69.com/assets/find-a-turnip.png">
</head>

<body>

<img src="/assets/background-image.jpg" id="background-image" alt="background image">

<header>
</header>

<div id="main-container">
    <div class="main-space"></div>

    <main>
        <section id="warning" class="major-section">

            <b>Current: {{.Host}} -> {{.}}</b>
            {{if eq .Host "localhost:8000"}}<h1>Testing</h1>{{end}}

            <h1>⚠CONSTRUCTION⚠</h1>
            <p>
                We are currently under the process of making this webpage. Thank you for your patience. 🙇‍♂️
            </p>
            <p>
                A lot of the texts here are very portfolio-y sounding but I'll make i️t sound more fun, and add some projects I omitted.
            </p>
            <p>Check out <a href="https://turnipxenon.itch.io/">turnipxenon.itch.io</a> for a better experience LOL</p>
            <video playsinline autoplay muted loop>
                <source src="https://video.twimg.com/ext_tw_video/1318728494256410624/pu/vid/640x360/TMklz6hiTkQu3xhn.mp4"
                        type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </section>

        <section id="about" class="major-section">
            <img src="https://pbs.twimg.com/media/FhxA2wraYAI0e6K?format=jpg&name=360x360" alt="Ares from Rune Factory 5">
            <h1>About</h1>
            <p>
                Hi! I'm <a href="https://twitter.com/reinhardluvr69">@reinhardluvr69</a>! I like french fries, seals, and making video games! I just go by with this Reinhard Rune Factory 5 image because I fear being
                <a href="https://archive.nytimes.com/opinionator.blogs.nytimes.com/2013/06/15/i-know-what-you-think-of-me/?smid=fb-nytimes&WT.z_sma=OP_IKW_20130618">perceived</a>.
            </p>
        </section>


        <section id="projects">
            <h1 class="major-section">Projects</h1>

            <section class="major-section">

                <video playsinline autoplay muted loop class="content-header" id="header-pengi">
                    <source src="/assets/header-pengi.webm" type="video/webm">
                    <source src="/assets/header-pengi.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>

                <div class="content-padded">

                    <h2>Pengi</h2>
                    <time>Oct 2020 - Dec 2020</time>
                    <q>Well well, quite the dreamer, aren’t you? Might be hard to get in... costs a
                        lot of money...</q>
                    <p>
                        TODO
                    </p>

                    <section class="links">
                        <input type="image" src="https://static.itch.io/images/badge.svg" id="itch-pengi" class="tx-badge" title="turnipxenon.itch.io/pengi" alt="Pengi itch.io link" />
                        <input type="image" src="/assets/github-logo.png" id="github-pengi" class="tx-badge" title="github.com/GreenTea-M/ProjectPengi" alt="Pengi github link" />
                    </section>

                </div>

            </section>

            <section class="major-section">

                <video playsinline autoplay muted loop class="content-header" id="header-hep-cat">
                    <source src="/assets/header-hep-cat.webm" type="video/webm">
                    <source src="/assets/header-hep-cat.mp4" type="video/mp4">
                    <source src="/assets/header-hep-cat.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>

                <div class="content-padded">

                    <h2>Hep Cat</h2>
                    <time>Jan 2020 - Apr 2020</time>
                    <q>Cats, Jazz, and a little bit of Death. What more could anyone ask for?</q>
                    <p>
                        TODO
                    </p>

                    <section class="links">
                        <input type="image" src="https://static.itch.io/images/badge.svg" id="itch-hep-cat" class="tx-badge" title="just-a-phantom.itch.io/hep-cat" alt="Hepcat itch.io link" />
                        <input type="image" src="/assets/bitbucket-logo.png" id="bitbucket-hep-cat" class="tx-badge" title="bitbucket.org/egginchicken/hep-cat" alt="Hepcat itch.io link" />
                    </section>

                </div>

            </section>

            <section class="major-section">

                <video playsinline autoplay muted loop class="content-header" id="header-soulwork">
                    <source src="/assets/header-soulwork.webm" type="video/webm">
                    <source src="/assets/header-soulwork.mp4" type="video/mp4">
                    <source src="/assets/header-soulwork.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>

                <div class="content-padded">

                    <h2>Soulwork</h2>
                    <time>Nov 2019</time>
                    <p>
                        TODO
                    </p>

                    <section class="links">
                        <input type="image" src="https://static.itch.io/images/badge.svg" id="itch-soulwork" class="tx-badge" title="itch.io/jam/time-to-game-jam-gadec-fall-game-jam/rate/514331" alt="Soulwork itch link" />
                        <input type="image" src="/assets/github-logo.png" id="github-soulwork" class="tx-badge" title="https://github.com/Zeyu-Li/Clockwork" alt="Soulwork github link" />
                    </section>

                </div>
            </section>

            <section class="major-section">
                <div class="content-padded">
                    <p>A lot of my other stuff isn't here yet</p>
                    <b>MORE STUFF COMING!</b>
                    <ul>
                        <li><a href="https://turnipxenon.itch.io/game-jam-mama">Game Jam Mama</a></li>
                        <li><a href="https://turnipxenon.itch.io/thinking-of-flowers">Thinking of Flowers</a></li>
                        <li><a href="https://samadhi-ranatunga.itch.io/wet-a-road">Wet Ass Road</a></li>
                        <li><a href="https://scribblemancer.itch.io/depreciated">Depreciated</a></li>
                        <li><a href="https://turnipxenon.itch.io/string-hop">String Hop</a></li>
                    </ul>
                </div>
            </section>
        </section>
    </main>
</div>

<aside id="sidebar">
    <section>
        <h1>
            Find a Turnip below
        </h1>

        <ul>
            <li>Tumblr: <a href="https://hahariehaha.tumblr.com/">hahariehaha.tumblr.com</a></li>
            <li>cohost: <a href="https://cohost.org/TurnipXenon">cohost.org/TurnipXenon</a></li>
            <li>Github: <a href="https://github.com/TurnipXenon">github.com/TurnipXenon</a></li>
            <li>itch.io: <a href="https://turnipxenon.itch.io/">turnipxenon.itch.io</a></li>
            <li>Twitter 1: <a href="https://twitter.com/TurnipXenon">twitter.com/TurnipXenon</a></li>
            <li>Twitter 2: <a href="https://twitter.com/reinhardluvr69">twitter.com/reinhardluvr69</a></li>
            <li>Discord: turnipxenon (he/him)#3637</li>
            <li>Instagram: you gotta ask for that T.T</li>
            <li>Email: turnipxenon@gmail.com</li>
        </ul>


    </section>
</aside>

<footer></footer>

</html>